@media (min-width:768px){

#menu{
display:none;
}

.navigation{
display:flex;
flex-direction:row;
justify-content:center;
gap:20px;
}

.grid{
grid-template-columns:repeat(3,1fr);
}

}

@media (min-width:1100px){

.grid{
grid-template-columns:repeat(4,1fr);
}

}